/*css restet */
html {
	color:	#000;
	background:	#FFF;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,
img {
	border:0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:	normal;
	font-weight: normal;
}
ol,
ul {
	list-style: none;
}
caption,
th {
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before,
q:after {
	content: '';
}
abbr,
acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size: 100%;
}
/*because legend doesn't inherit in IE */
legend {
	color: #000;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { 
	display: inline-table; 
}
a {
	text-decoration: none;
}
/* Hides from IE-mac \*/
* html .clearfix { 
	height: 1%; 
}
.clearfix { 
	display: block; 
}
/* End hide from IE-mac */

/* login page */
.login-wrapper {
	width: 540px;
	height: 240px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -120px;
	padding: 30px;

}
.login-img {
	float: left;
	border-right: 1px solid #888;
}
.login-wrapper p {
	padding-left: 120px;
	margin-top: 12px;
	color: #7f9db9;
}
.login-wrapper p label {
	display: inline-block;
	width: 70px;
	text-align: right;
}
.login-btn,
.register-btn {
	display: inline-block;
	margin-left: 100px;
	width: 63px;
	height: 20px;
	line-height: 20px;
	background: url(../images/button03.gif) 0 0 no-repeat;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
}
.register-btn {
	margin-left: 20px;
}

/* register page */
.rigister-wrapper {
	width: 623px;
	height: 340px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -312px;
	margin-top: -170px;
	background-color: #e9e9e9;
}
.rigister-wrapper p {
	margin-top: 20px;
	padding-left: 70px;
}
.rigister-wrapper p label {
	display: inline-block;
	width: 70px;
	text-align: right;
}
.rigister-btn {
	margin-left: 190px;
	width: 63px;
	height: 20px;
	line-height: 20px;
	background: url(../images/button03.gif) 0 0 no-repeat;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

/*modify-page*/
.modify-wrapper {
	width: 800px;
	margin: 0 auto;
	background-color: #e9e9e9;
}
.modify-wrapper p {
	margin-top: 10px;
	padding-left: 70px;
}
.modify-wrapper p label {
	display: inline-block;
	width: 180px;
	text-align: right;
}
.update-btn {
	padding-left: 70px;
	margin-top: 10px;
	line-height: 20px;
	text-align: left;
	height: 20px;
}
.caption {
	margin-top: 10px;  
	padding-left: 30px;
	font-size: 30px;
	margin-bottom: 20px;
}
.email-info {
	border-top: 1px #000 solid;
	margin-top: 10px;
}
.block li {
	list-style: none;
	display: inline-block;
	margin-left: 100px;
	width: 150px;
	text-align: center;
}
.username {
	border-top: 1px #000 solid;
	margin: 10px 0;
}
.pwd {
	border-top: 1px #000 solid;
	margin: 10px 0;
}

/*create conference page*/
.install-wrapper {
	width: 800px;
	margin: 0 auto;
	background-color: #e9e9e9;
}
.install-wrapper p {
	margin-top: 10px;
	padding-left: 70px;
}
.install-wrapper p label {
	display: inline-block;
	width: 160px;
	text-align: right;
}
.main-caption {
	font-style: bold;
	font-size: 32px;
}
.areas-wrapper .side-left {
	width: 160px;
	float: left;
}
.areas-wrapper .side-right {
	width: 600px;
	float: left;
}
.areas-wrapper .side-right .row li {
	display: inline-block;
	float: left;
	width: 160px;
	margin-right: 10px;
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
}
.areas-wrapper .side-right .row li input {
	position: absolute;
	left: 0;
	top: 3px;
}
.areas-wrapper .side-right .row li label {
	display: inline-block;
	width: 150px;
	word-wrap: break-word;
}
.install-wrapper .send {
	padding-left: 160px;
}

/*conference configiration page*/
.configuration-wrapper {
	width: 800px;
	margin: 0 auto;
	background-color: #e9e9e9;
}

.configuration-wrapper .con-caption {
	font-weight: bold;
	font-family: italic;
    text-align: center;
    border-bottom: 1px #000 solid;
}

.configuration-wrapper .item {
	height: 50px;
	float: left;
	width: 100%;
	border-bottom: 1px #000 solid;
}

.configuration-wrapper .right-item {
   margin-left: 300px; /*left-item*/
   height: 50px;
   line-height: 50px;
   padding-left: 10px;
}

.configuration-wrapper .left-item {
	width: 300px;
	float: left;
	height: 50px;
	border-right: 1px #000 solid;
}
.configuration-wrapper .item .left-item label {
	display: inline-block;
	word-wrap: break-word;
	padding: 10px;
}
.configuration-wrapper .config-btn {
	text-align: center;
	margin-top: 10px;
	border-bottom: 2px #000 solid;
	margin: 10px 0;
}
.configuration-wrapper .config-btn input {
	margin: 10px 0;
}
/*send auther page*/
.common-page {
    width: 800px;
    margin: 0 auto;
    background-color: #e9e9e9;
}

.three-caption {
	font-weight: bold;  
	padding-left: 3px;
}
.three-caption p {
	margin-bottom: 10px;
}
.first {
	font-size: 24px;
}
.second {
	font-size: 20px;
}
.third {
	font-size: 16px;
}
.common-page .item-two {
	border-bottom: 1px #000 solid;
	margin-top: 10px;
}
.common-page .left-side {
	float: left;
	width: 60px;
	height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

.common-page .right-side {
	margin-left: 100px;
	height: 50px;
}

.common-page .list ul li {
	border: #000 solid;
	display: inline-block;
	border-width: 1px 1px 1px 1px;
	float: left;
	list-style: none;
	padding: 0 5px;
}

.common-page p {
	padding-left: 10px;
}
.common-page .list {
	padding-left: 10px;
	margin-top: 20px;
}
.common-page .sub label {
	display: inline-block;
	width: 90px;
}
.common-page .interval p {
	margin-top: 20px;
}

.table {
	margin: 0 auto;
	margin-top: 20px;
	border: #000 solid;
	border-width: 1px 1px 1px 1px;
}
.td {
	border: #000 solid;
	border-width: 0 1px 1px 0;
	text-align: center;
	padding: 0 5px;
}
.th {
	font-weight: bold;
	border: #000 solid;
	border-width: 0 1px 1px 0;
	text-align: center;
	padding: 0 5px;
}

.com-caption {
	margin-left: 50px;
	margin-top: 20px;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

.download {
	float: right;
}

.common-page .paragraph {
	margin: 30px;
	margin-left: 60px;
	padding-left: 10px;
}


.list-table ul {
	margin-left: 20px;
	width: 50%;
}

.1-li {
	width: 39%;
}
.2-li {
	width: 18%;
}
.3-li {
	width: 39%;
}
.list-table ul .1-li, .list-table ul .2-li, .list-table ul .3-li {
	float: left;
	display: inline-block;
	line-height: 30px;
	height: 30px;
	list-style: none;
	margin: 0 0 1px 1px;
}

/*author role navigation page*/
.show-wrapper {
	width: 80%;
	margin: 0 auto;
	background-color: #e9e9e9;
	height: 600px;
}

.show-caption {
	margin: 50px 20px 20px 20px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

.show-wrapper .title-bar {
	margin: 50px 30px 20px 30px;
}

.show-wrapper .title-bar ul li {
	float: left;
	width: 18%;
	display: inline-block;
	padding: 1px 5px;
	background-color: #e9e9e9;
	position: relative;
	border: red solid;
	border-width: 0 1px 0 0;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.main-content {
	margin: 150px 30px 20px 30px;
	font-size: 26px;
	font-weight: bold;
}

/*new submission page*/
.submission-caption {
	font-weight: bold;
	font-size: 36px;
}

.filed-name {
	font-size: 28px;
	font-weight: bold;
}

.author-info p, .paper-field p {
	margin-bottom: 20px;
}
.author-info p label, .paper-field p label {
	display: inline-block;
	width: 150px;
}

.author-info p input {
	margin-left: 2px;
}

/*invite pc page*/
.invite-caption {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 30px;
}

.invite-field p {
	margin-bottom: 20px;
}

.invite-field p label {
	display: inline-block;
	width: 150px;
}

.table-field {
	margin: 20px 0;
}

/*add new PC member page*/
.sub-caption {
	font-weight: bold;
	font-size: 26px;
	margin-left: 10px;
}
.multi, .single {
	margin-top: 20px;
}

.multi p, .single p {
	margin: 20px;
}

.multi p label, .single p label {
	display: inline-block;
	width: 200px;
}

.td-dotted {
	border: #a5a1a1 dotted;
	border-width: ;
}

.th-none {
	border-width: 0 0 0 0;
}
.table-side {
	border-width: 1px 0px 1px 0px;
}
